<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/Downloads">Downloads</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="www.nist.gov">www.nist.gov</a></li>
   <li><a href="https://github.com/fds-smv">github.com/fds-smv</a></li>
   </ul>
  </footer>
  </body>

</html>